@using PagedList.Mvc
@using PhotoContest.Web.Helpers
@model PhotoContest.Web.Models.ViewModels.ContestDetailsViewModel

<div class="con">
    <h6 class="conheader">
        <p>Author FullName: <b class="name">@Model.Organizier.FullName</b></p>
        <p>Author Username: <b class="name">@Model.Organizier.Username</b></p>
        @*<a href="@Url.Action()"></a>*@
        <p>123</p>
    </h6>
</div>
