@using System.Web.UI.HtmlControls
@using PagedList.Mvc
@using PhotoContest.Web.Helpers
@model PagedList.PagedList<PhotoContest.Web.Models.ViewModels.ContestDetailsViewModel>
@{
    ViewBag.Title = "Index";
}

<h1>Contests @Model.Count()</h1>

<div class="col-md-12">
    @foreach (var contest in Model)
    {
        @Html.Partial("~/Views/Contest/_AllContests.cshtml", contest)
    }
</div>
<div class="col-md-12">
    @Html.Partial("~/Views/Contest/Create.cshtml")
</div>