@using System.Linq
@using Glimpse.Core.ClientScript
@using PhotoContest.Web.Helpers
@using PhotoContest.Data;
@using Microsoft.AspNet.Identity;
@using PhotoContext.Models
@{  
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    var context = new PhotoDbContext();

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            var userId = this.User.Identity.GetUserId();

            if (userId != null)
            {
                //context.Users.FirstOrDefault(u => u.Id == userId).Pictures.Add();
            }

            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" />
            <br />
            <input type="submit" value="Upload" />
        </fieldset>
    </form>
    <h1>Uploaded Image</h1>
    @if (imagePath != "")
    {
        <div class="result">
            <img src="~/Images/../@imagePath" />
        </div>
    }
</body>
</html>

