@using System.Linq
@using Glimpse.Core.ClientScript
@using PhotoContest.Web.Helpers
@using PhotoContest.Data;
@using Microsoft.AspNet.Identity;
@using PhotoContext.Models
@{  
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    var context = new PhotoDbContext();
    Control divController = new Control();
}

@{
    ViewBag.Title = "Upload";
}

<h1>Upload</h1>

    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Photo</legend>
            <label for="Photo">Photo</label>
            <input type="file" name="Image" />
            <br />
            <input type="submit" value="Upload" />
            
        </fieldset>
    </form>
    <h4>Uploaded Photo:</h4>

    @if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            var photos = context.Pictures.Select(p => p.ImageURL).ToList();

            newFileName = Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;

            if (photo.FileName != null)
            {
                if (!photos.Contains(imagePath))
                {
                    photo.Save(@"~\" + imagePath);
                    photos.Add(photo.FileName);

                    var picture = new Picture
                    {
                        ImageURL = newFileName
                    };

                    var userId = this.User.Identity.GetUserId();

                    <div class="result">
                        <img src="~/Images/../@imagePath" />
                    </div>

                    if (userId != null)
                    {
                        User user = context.Users.FirstOrDefault(u => u.Id == userId);
                        picture.Owner = user;
                        picture.OwnerId = user.Id;

                        context.Users.FirstOrDefault(u => u.Id == userId).Pictures.Add(picture);
                        context.SaveChanges();
                    }
                    else
                    {
                        context.Pictures.Add(picture);
                        context.SaveChanges();
                    }
                }
                else
                {
                    <div id="duplicateUser">There is a image with this name!</div>
                }
            }
        }
    }


